.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #006400;
}
